<div class="palm-group">
	<div class="palm-group-title" id="create-account-title"></div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">    	
						<div class="label" id="item-title-label"></div>
						<div name="item-title-field" x-mojo-element="TextField" ></div>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="field-label" id="item-complete-label"></div>
				<div class="right" x-mojo-element="CheckBox" id="item-complete-field"></div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="field-label" id="item-doToday-label"></div>
				<div x-mojo-element="ToggleButton" id="item-doToday-field"></div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title" style="height:125px">    	
						<div class="label" id="item-description-label"></div>
						<div name="item-description-field" x-mojo-element="TextField" ></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
