<!-- first-time -->
<div class="palm-group">
	<div class="palm-group-title" id="create-account-title"></div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">    	
						<div class="label" id="username-label"></div>
						<div name="username-field" x-mojo-element="TextField" ></div>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">    	
						<div class="label" id="password-label"></div>
						<div name="password-field" x-mojo-element="PasswordField" ></div>
					</div>
				</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="textfield-group" x-mojo-focus-highlight="true">
					<div class="title">    	
						<div class="label" id="email-label"></div>
						<div name="email-field" x-mojo-element="TextField" ></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div x-mojo-element="Button" id="create-account"></div>
